In [2]:
from astropy.table import QTable
import astropy.units as u
import numpy as np

a = np.array([1, 4, 5], dtype=np.int32)
b = [2.0, 5.0, 8.5]
c = ['x', 'y', 'z']
d = [10, 20, 30] * u.m / u.s

t = QTable([a, b, c, d],
           names=('a', 'b', 'c', 'd'),
           meta={'name': 'first table'})

In [3]:
t

<QTable length=3>
  a      b     c      d
                    m / s
int32 float64 str1 float64
----- ------- ---- -------
    1     2.0    x    10.0
    4     5.0    y    20.0
    5     8.5    z    30.0

In [4]:
t.info

<QTable length=3>
name  dtype   unit  class
---- ------- ----- --------
   a   int32         Column
   b float64         Column
   c    str1         Column
   d float64 m / s Quantity

In [5]:
print(t)

 a   b   c    d
            m / s
--- --- --- -----
  1 2.0   x  10.0
  4 5.0   y  20.0
  5 8.5   z  30.0

In [6]:
t['b'].info.format = '7.3f'
print(t)

 a     b     c    d
                m / s
--- ------- --- -----
  1   2.000   x  10.0
  4   5.000   y  20.0
  5   8.500   z  30.0

In [7]:
t.more()

 a     b     c    d
                m / s
--- ------- --- -----
  1   2.000   x  10.0
  4   5.000   y  20.0
  5   8.500   z  30.0

-- f, <space>, b, r, p, n, <, >, q h (help) --

ERROR: Console does not support getting a character as required by more().  Use pprint() instead. [astropy.table.pprint]

In [8]:
t.show_in_browser()

In [9]:
t.show_in_browser(jsviewer=True)

In [10]:
t.colnames

len(t)

t.meta

{'name': 'first table'}

In [11]:
t['a']       # Column 'a'





t['a'][1]    # Row 1 of column 'a'


t[1]         # Row 1 of the table








t[1]['a']    # Column 'a' of row 1

4

In [12]:
print(t[0:2])      # Table object with rows 0 and 1







print(t['a', 'c'])  # Table with cols 'a' and 'c'

 a     b     c    d
                m / s
--- ------- --- -----
  1   2.000   x  10.0
  4   5.000   y  20.0
 a   c
--- ---
  1   x
  4   y
  5   z

In [13]:
t['a'][:] = [-1, -2, -3]    # Set all column values in place
t['a'][2] = 30              # Set row 2 of column 'a'
t[1] = (8, 9.0, "W", 4 * u.m / u.s) # Set all values of row 1
t[1]['b'] = -9              # Set column 'b' of row 1
t[0:2]['b'] = 100.0         # Set column 'b' of rows 0 and 1
print(t)

 a     b     c    d
                m / s
--- ------- --- -----
 -1 100.000   x  10.0
  8 100.000   W   4.0
 30   8.500   z  30.0

In [14]:
t['b'] = ['a', 'new', 'dtype']   # Replace column 'b' (different from in-place)
t['e'] = [1, 2, 3]               # Add column 'e'
del t['c']                       # Delete column 'c'
t.rename_column('a', 'A')        # Rename column 'a' to 'A'
t.colnames

['A', 'b', 'd', 'e']

In [15]:
t.add_row([-8, 'string', 10 * u.cm / u.s, 10])
t['d']

In [16]:
from astropy.table import MaskedColumn
a_masked = MaskedColumn(a, mask=[True, True, False])
t = QTable([a_masked, b, c], names=('a', 'b', 'c'),
           dtype=('i4', 'f8', 'U1'))
t

<QTable length=3>
  a      b     c
int32 float64 str1
----- ------- ----
   --     2.0    x
   --     5.0    y
    5     8.5    z

In [17]:
from astropy.time import Time
from astropy.coordinates import SkyCoord
tm = Time(['2000:002', '2002:345'])
sc = SkyCoord([10, 20], [-45, +40], unit='deg')
t = QTable([tm, sc], names=['time', 'skycoord'])
t

<QTable length=2>
         time          skycoord
                       deg,deg
         Time          SkyCoord
--------------------- ----------
2000:002:00:00:00.000 10.0,-45.0
2002:345:00:00:00.000  20.0,40.0

In [18]:
dt = t['time'] - Time('1999-07-23 04:30:59.984')
t['dt_cxo'] = dt.to(u.d)
t['dt_cxo'].info.format = '.3f'
print(t)

         time          skycoord   dt_cxo
                       deg,deg      d
--------------------- ---------- --------
2000:002:00:00:00.000 10.0,-45.0  162.812
2002:345:00:00:00.000  20.0,40.0 1236.812

In [19]:
from astropy.table import Table
t = Table(names=['a', 'b'])
for i in range(100):
    t.add_row((1, 2))

In [20]:
rows = []
for i in range(100):
    rows.append((1, 2))
t = Table(rows=rows, names=['a', 'b'])

In [21]:
from astropy.table import Table
import numpy as np
x = np.arange(10000, dtype=float)
tm = Table([x], masked=True)
tm.write('tm.ecsv', overwrite=True)

In [22]:
tm.write('tm.ecsv', overwrite=True, serialize_method='data_mask')

In [23]:
import numpy as np
from astropy.table import Table
tbl = Table({'a': np.arange(1e7),
             'b': np.arange(1e7, dtype=float),
             'c': np.arange(1e7, dtype=float)})
tbl.write('test.fits', overwrite=True)
table = Table.read('test.fits', memmap=True)  # Very fast, doesn't actually load data
table2 = tbl[:100]  # Fast, will read only first 100 rows
print(table2)  # Accessing column data triggers the read





 ...  ...



col = table['my_column']  # Will load all table into memory

IndentationError: unexpected indent (3275925885.py, line 15)

In [24]:
from astropy.table import QTable, Table, Column
from astropy import units as u
import numpy as np

In [25]:
t = Table()
t['a'] = [1, 4]
t['b'] = [2.0, 5.0]
t['c'] = ['x', 'y']

t = Table(names=('a', 'b', 'c'), dtype=('f4', 'i4', 'S2'))
t.add_row((1, 2.0, 'x'))
t.add_row((4, 5.0, 'y'))

t = Table(dtype=[('a', 'f4'), ('b', 'i4'), ('c', 'S2')])

In [26]:
t = QTable()
t['a'] = [1, 4]
t['b'] = [2.0, 5.0] * u.cm / u.s
t['c'] = ['x', 'y']
type(t['b'])

astropy.units.quantity.Quantity

In [27]:
a = np.array([1, 4], dtype=np.int32)
b = [2.0, 5.0]
c = ['x', 'y']
t = Table([a, b, c], names=('a', 'b', 'c'))
t

<Table length=2>
  a      b     c
int32 float64 str1
----- ------- ----
    1     2.0    x
    4     5.0    y

In [28]:
Table([t['c'], t['a']])

<Table length=2>
 c     a
str1 int32
---- -----
   x     1
   y     4

In [29]:
Table([t['a']**2, t['b'] + 10])

<Table length=2>
  a      b
int32 float64
----- -------
    1    12.0
   16    15.0

In [30]:
a = (1., 4.)
b = np.array([[2, 3], [5, 6]], dtype=np.int64)  # vector column
c = Column(['x', 'y'], name='axis')
d = u.Quantity([([1., 2., 3.], [.1, .2, .3]),
                ([4., 5., 6.], [.4, .5, .6])], 'm,m/s')
QTable([a, b, c, d])

<QTable length=2>
  col0    col1   axis          col3 [f0, f1]
                                 (m, m / s)
float64 int64[2] str1     (float64[3], float64[3])
------- -------- ---- -------------------------------
    1.0   2 .. 3    x ([1., 2., 3.], [0.1, 0.2, 0.3])
    4.0   5 .. 6    y ([4., 5., 6.], [0.4, 0.5, 0.6])

In [31]:
arr = {'a': np.array([1, 4], dtype=np.int32),
       'b': [2.0, 5.0],
       'c': ['x', 'y']}

Table(arr)

<Table length=2>
  a      b     c
int32 float64 str1
----- ------- ----
    1     2.0    x
    4     5.0    y

In [32]:
Table(arr, names=('a', 'c', 'b'), dtype=('f8', 'U2', 'i4'))

<Table length=2>
   a     c     b
float64 str2 int32
------- ---- -----
    1.0    x     2
    4.0    y     5

In [33]:
arr = {'a': (1., 4.),
       'b': np.array([[2, 3], [5, 6]], dtype=np.int64),
       'c': Column(['x', 'y'], name='axis')}
Table(arr, names=('a', 'b', 'c'))

<Table length=2>
   a       b      c
float64 int64[2] str1
------- -------- ----
    1.0   2 .. 3    x
    4.0   5 .. 6    y

In [36]:
data_rows = [(1, 2.0, 'x'),
             (4, 5.0, 'y'),
             (5, 8.2, 'z')]
t = Table(rows=data_rows, names=('a', 'b', 'c'))
print(t)

 a   b   c
--- --- ---
  1 2.0   x
  4 5.0   y
  5 8.2   z

In [37]:
data = [{'a': 5, 'b': 10},
        {'a': 15, 'b': 20}]
t = Table(rows=data)
print(t)

 a   b
--- ---
  5  10
 15  20

In [38]:
t = Table(rows=[{'a': 5, 'b': 10}, {'a': 15, 'c': 50}])
print(t)

 a   b   c
--- --- ---
  5  10  --
 15  --  50

In [39]:
data = [{'a': 5, 'b': 10},
        {'a': 15, 'b': 20}]
t = Table(rows=data, names=('b', 'a'))
print(t)

 b   a
--- ---
 10   5
 20  15

In [40]:
data = [{'b': 10, 'c': 7, 'a': 5},
        {'a': 15, 'c': 35, 'b': 20}]
t = Table(rows=data)
print(t)




data = [{'b': 10, 'c': 7, },
        {'a': 15, 'c': 35, 'b': 20}]
t = Table(rows=data)
print(t)

 b   c   a
--- --- ---
 10   7   5
 20  35  15
 a   b   c
--- --- ---
 --  10   7
 15  20  35

In [41]:
a = [1, 4]
b = [2.0, 5.0]
t = Table([a, b], names=('a', 'b'))
t2 = Table(rows=t[1])

In [42]:
arr = np.array([(1, 2.0, 'x'),
                (4, 5.0, 'y')],
               dtype=[('a', 'i4'), ('b', 'f8'), ('c', 'U2')])

In [43]:
Table(arr)

<Table length=2>
  a      b     c
int32 float64 str2
----- ------- ----
    1     2.0    x
    4     5.0    y

In [44]:
table = Table(arr)
print(table)

 a   b   c
--- --- ---
  1 2.0   x
  4 5.0   y

In [45]:
table = Table()
table['name'] = ['Micah', 'Mazzy']
table['arr'] = arr
print(table)

 name arr [a, b, c]
----- -------------
Micah  (1, 2., 'x')
Mazzy  (4, 5., 'y')

In [46]:
print(table['arr']['b'])

arr
---
2.0
5.0

In [47]:
Table(arr, names=('a_new', 'b_new', 'c_new'))

<Table length=2>
a_new  b_new  c_new
int32 float64  str2
----- ------- -----
    1     2.0     x
    4     5.0     y

In [48]:
Table(arr, dtype=('f4', 'i4', 'U4'))







Table(arr, names=('a_new', 'b_new', 'c_new'), dtype=('f4', 'i4', 'U4'))

<Table length=2>
 a_new  b_new c_new
float32 int32  str4
------- ----- -----
    1.0     2     x
    4.0     5     y

In [49]:
Table(np.array([1, 2, 3]), names=['a', 'b', 'c'], dtype=('i8', 'i8', 'i8'))

<Table length=1>
  a     b     c
int64 int64 int64
----- ----- -----
    1     2     3

In [50]:
arr = np.array([[1, 2, 3],
                [4, 5, 6]], dtype=np.int32)
Table(arr)

<Table length=2>
 col0  col1  col2
int32 int32 int32
----- ----- -----
    1     2     3
    4     5     6

In [51]:
Table(arr, names=('a_new', 'b_new', 'c_new'), dtype=('f4', 'i4', 'U4'))

<Table length=2>
 a_new  b_new c_new
float32 int32  str4
------- ----- -----
    1.0     2     3
    4.0     5     6

In [52]:
t = Table(arr, copy=False)

In [53]:
arr = [[1, 2, 3],
       [4, 5, 6]]
np_arr = np.array(arr)

print(Table(arr))    # Two columns, three rows






print(Table(np_arr))  # Three columns, two rows

col0 col1
---- ----
   1    4
   2    5
   3    6
col0 col1 col2
---- ---- ----
   1    2    3
   4    5    6

In [54]:
t = Table(names=('a', 'b', 'c'))
t['c', 'b', 'a']  # Makes a copy of the data

<Table length=0>
   c       b       a
float64 float64 float64
------- ------- -------

In [55]:
Table(t.columns[0:2])





Table([t.columns[0], t.columns['c']])

<Table length=0>
   a       c
float64 float64
------- -------

In [56]:
t = Table([[1.0, 2.3], [2.1, 3]], names=['x', 'y'])
t







tcopy = t[:0].copy()
tcopy

<Table length=0>
   x       y
float64 float64
------- -------

In [57]:
N = 3
dtype = [('a', 'i4'), ('b', 'f8'), ('c', 'bool')]
t = Table(data=np.zeros(N, dtype=dtype))
t

<Table length=3>
  a      b      c
int32 float64  bool
----- ------- -----
    0     0.0 False
    0     0.0 False
    0     0.0 False

In [58]:
for i in range(len(t)):
    t[i] = (i, 2.5*i, i % 2)
t

<Table length=3>
  a      b      c
int32 float64  bool
----- ------- -----
    0     0.0 False
    1     2.5  True
    2     5.0 False

In [59]:
import sys
from astropy.table import Table
t = Table(names=('a', 'b', 'c'), dtype=('f4', 'i4', 'S2'))
t.add_row((1, 2.0, 'x'))
t.meta['comments'] = ['Here is my explanatory text. This is awesome.',
                      'Second comment line.']
t.write(sys.stdout, format='ascii')

# Here is my explanatory text. This is awesome.
# Second comment line.
a b c
1.0 2 x

In [60]:
arr = np.array([(1, 2.0, 'x'),
                (4, 5.0, 'y')],
               dtype=[('a', 'i8'), ('b', 'f8'), ('c', 'S2')])
print(arr['a'])  # column "a" of the input array

t = Table(arr, copy=False)
t['a'][1] = 99
print(arr['a'])  # arr['a'] got changed when we modified t['a']

[1 4]
[ 1 99]

In [61]:
t = Table([[1,2],[1.234e9,2.34e-12]], names = ('a','b'))
def latex_exp(value):
    val = f'{value:8.2}'
    mant, exp = val.split('e')
    # remove leading zeros
    exp = exp[0] + exp[1:].lstrip('0')
    return f'$ {mant} \\times 10^{{ {exp} }}$'
t['b'].format = latex_exp
t['a'].format = '.4f'
import sys
t.write(sys.stdout, format='latex')

\begin{table}
\begin{tabular}{cc}
a & b \\
1.0000 & $  1.2 \times 10^{ +9 }$ \\
2.0000 & $  2.3 \times 10^{ -12 }$ \\
\end{tabular}
\end{table}

/var/folders/xj/0mk4jn0d0x1dh7w33nl5g1740000gp/T/ipykernel_40064/1423339432.py:3: FutureWarning: Format strings passed to MaskedConstant are ignored, but in future may error or produce different behavior
  val = f'{value:8.2}'

In [62]:
t = Table(names=('a', 'b', 'c', 'd'))

t.columns['d', 'c', 'b']

In [63]:
t.columns[0:2]  # Select first two columns


t.columns[::-1]  # Reverse column order

In [64]:
t.columns[1]  # Choose a column by index


t.columns['b']  # Choose a column by name

In [65]:
from astropy.table import Table, Row, Column, MaskedColumn, TableColumns, TableFormatter

class MyRow(Row): pass
class MyColumn(Column): pass
class MyMaskedColumn(MaskedColumn): pass
class MyTableColumns(TableColumns): pass
class MyTableFormatter(TableFormatter): pass

class MyTable(Table):
    """
    Custom subclass of astropy.table.Table
    """
    Row = MyRow  # Use MyRow to create a row object
    Column = MyColumn  # Column
    MaskedColumn = MyMaskedColumn  # Masked Column
    TableColumns = MyTableColumns  # Ordered dict holding Column objects
    TableFormatter = MyTableFormatter  # Controls table output

In [66]:
from astropy.table import Table, Row
class ParamsRow(Row):
   """
   Row class that allows access to an arbitrary dict of parameters
   stored as a dict object in the ``params`` column.
   """
   def __getitem__(self, item):
       if item not in self.colnames:
           return super().__getitem__('params')[item]
       else:
           return super().__getitem__(item)

   def keys(self):
       out = [name for name in self.colnames if name != 'params']
       params = [key.lower() for key in sorted(self['params'])]
       return out + params

   def values(self):
       return [self[key] for key in self.keys()]

In [67]:
class ParamsTable(Table):
    Row = ParamsRow

In [68]:
t = ParamsTable(names=['a', 'b', 'params'], dtype=['i', 'f', 'O'])
t.add_row((1, 2.0, {'x': 1.5, 'y': 2.5}))
t.add_row((2, 3.0, {'z': 'hello', 'id': 123123}))
print(t)

 a   b             params
--- --- ----------------------------
  1 2.0         {'x': 1.5, 'y': 2.5}
  2 3.0 {'z': 'hello', 'id': 123123}

In [69]:
t[0]['y']

t[1]['id']

t[1].keys()

t[1].values()

[2, 3.0, 123123, 'hello']

In [70]:
from astropy.table import QTable
from astropy import units as u
t = QTable()
t['velocity'] = [3, 4] * u.m / u.s
type(t['velocity'])

astropy.units.quantity.Quantity

In [71]:
from astropy.table import Table
t = Table()
t['velocity'] = [3, 4] * u.m / u.s
type(t['velocity'])

t['velocity'].unit

Unit("m / s")

In [73]:
class DictTable(dict):
    """
    Trivial "table" class that just uses a dict to hold columns.
    This does not actually implement anything useful that makes
    this a table.

    The non-standard ``strict_copy=False`` keyword arg here will be passed
    via the **kwargs of Table __init__().
    """

    def __astropy_table__(self, cls, copy, strict_copy=False, **kwargs):
        """
        Return an astropy Table of type ``cls``.

        Parameters
        ----------
        cls : type
             Astropy ``Table`` class or subclass.
        copy : bool
             Copy input data (True) or return a reference (False).
        strict_copy : bool, optional
             Raise an exception if copy is False but reference is not
             possible.
        **kwargs : dict, optional
             Additional keyword args (ignored currently).
        """
        if kwargs:
            warnings.warn(f'unexpected keyword args {kwargs}')

        cols = list(self.values())
        names = list(self.keys())

        # If returning a reference to existing data (copy=False) and
        # strict_copy=True, make sure that each column is a numpy ndarray.
        # If a column is a Python list or tuple then it must be copied for
        # representation in an astropy Table.

        if not copy and strict_copy:
            for name, col in zip(names, cols):
                if not isinstance(col, np.ndarray):
                    raise ValueError(f'cannot have copy=False because column {name} is '
                                     'not an ndarray')

        return cls(cols, names=names, copy=copy)

In [74]:
t

<Table length=2>
velocity
 m / s
float64
--------
     3.0
     4.0

In [76]:
print(t)

velocity
 m / s
--------
     3.0
     4.0

In [77]:
##similar, but nicer when there are lots and lots of rows/columns
t.pprint()

velocity
 m / s
--------
     3.0
     4.0

In [78]:
t.colnames

['velocity']

In [79]:
t.dtype

dtype([('velocity', '<f8')])

In [80]:
t.show_in_notebook()

In [86]:
mask = t['flux'] > 3.0  # Define boolean (True/False) mask for all flux values > 3
mask

KeyError: 'flux'

In [87]:
from astropy.table import Table
obs = Table.read("""name    obs_date    mag_b  mag_v
                    M31     2012-01-02  17.0   17.5
                    M31     2012-01-02  17.1   17.4
                    M101    2012-01-02  15.1   13.5
                    M82     2012-02-14  16.2   14.5
                    M31     2012-02-14  16.9   17.3
                    M82     2012-02-14  15.2   15.5
                    M101    2012-02-14  15.0   13.6
                    M82     2012-03-26  15.7   16.5
                    M101    2012-03-26  15.1   13.5
                    M101    2012-03-26  14.8   14.3
                    """, format='ascii')
# Make sure magnitudes are printed with one digit after the decimal point
obs['mag_b'].info.format = '{:.1f}'
obs['mag_v'].info.format = '{:.1f}'

In [88]:
obs_by_name = obs.group_by('name')
print(obs_by_name)  













print(obs_by_name.groups.keys)





print(obs_by_name.groups.indices)

name  obs_date  mag_b mag_v
---- ---------- ----- -----
M101 2012-01-02  15.1  13.5
M101 2012-02-14  15.0  13.6
M101 2012-03-26  15.1  13.5
M101 2012-03-26  14.8  14.3
 M31 2012-01-02  17.0  17.5
 M31 2012-01-02  17.1  17.4
 M31 2012-02-14  16.9  17.3
 M82 2012-02-14  16.2  14.5
 M82 2012-02-14  15.2  15.5
 M82 2012-03-26  15.7  16.5
name
----
M101
 M31
 M82
[ 0  4  7 10]

In [89]:
print(obs.group_by(['name', 'obs_date']).groups.keys)

name  obs_date
---- ----------
M101 2012-01-02
M101 2012-02-14
M101 2012-03-26
 M31 2012-01-02
 M31 2012-02-14
 M82 2012-02-14
 M82 2012-03-26

In [90]:
print(obs_by_name.groups[1])

name  obs_date  mag_b mag_v
---- ---------- ----- -----
 M31 2012-01-02  17.0  17.5
 M31 2012-01-02  17.1  17.4
 M31 2012-02-14  16.9  17.3

In [91]:
mask = obs_by_name.groups.keys['name'] == 'M101'
print(obs_by_name.groups[mask])

name  obs_date  mag_b mag_v
---- ---------- ----- -----
M101 2012-01-02  15.1  13.5
M101 2012-02-14  15.0  13.6
M101 2012-03-26  15.1  13.5
M101 2012-03-26  14.8  14.3

In [92]:
for key, group in zip(obs_by_name.groups.keys, obs_by_name.groups):
    print(f'****** {key["name"]} *******')
    print(group)
    print('')

****** M101 *******
name  obs_date  mag_b mag_v
---- ---------- ----- -----
M101 2012-01-02  15.1  13.5
M101 2012-02-14  15.0  13.6
M101 2012-03-26  15.1  13.5
M101 2012-03-26  14.8  14.3

****** M31 *******
name  obs_date  mag_b mag_v
---- ---------- ----- -----
 M31 2012-01-02  17.0  17.5
 M31 2012-01-02  17.1  17.4
 M31 2012-02-14  16.9  17.3

****** M82 *******
name  obs_date  mag_b mag_v
---- ---------- ----- -----
 M82 2012-02-14  16.2  14.5
 M82 2012-02-14  15.2  15.5
 M82 2012-03-26  15.7  16.5

In [93]:
from astropy.table import Column
import numpy as np
c = Column([1, 2, 3, 4, 5, 6], name='a')
key_vals = np.array(['foo', 'bar', 'foo', 'foo', 'qux', 'qux'])
cg = c.group_by(key_vals)

for key, group in zip(cg.groups.keys, cg.groups):
    print(f'****** {key} *******')
    print(group)
    print('')

****** bar *******
 a
---
  2

****** foo *******
 a
---
  1
  3
  4

****** qux *******
 a
---
  5
  6

In [94]:
obs_mean = obs_by_name.groups.aggregate(np.mean)  

print(obs_mean)

name mag_b mag_v
---- ----- -----
M101  15.0  13.7
 M31  17.0  17.4
 M82  15.7  15.5

WARNING: Cannot aggregate column 'obs_date' with type '<U10': cannot perform reduceat with flexible type [astropy.table.groups]

In [95]:
print(obs_by_name['mag_b'].groups.aggregate(np.mean))

mag_b
-----
 15.0
 17.0
 15.7

In [96]:
print(obs_by_name['name', 'mag_v', 'mag_b'].groups.aggregate(np.mean))

name mag_v mag_b
---- ----- -----
M101  13.7  15.0
 M31  17.4  17.0
 M82  15.5  15.7

In [97]:
c = Column([1, 2, 3, 4, 5, 6], name='a')
key_vals = np.array(['foo', 'bar', 'foo', 'foo', 'qux', 'qux'])
cg = c.group_by(key_vals)
cg_sums = cg.groups.aggregate(np.sum)
for key, cg_sum in zip(cg.groups.keys, cg_sums):
    print(f'Sum for {key} = {cg_sum}')

Sum for bar = 2
Sum for foo = 8
Sum for qux = 11

In [98]:
year = np.linspace(2000.0, 2010.0, 200)  # 200 observations over 10 years
period = 1.811
y0 = 2005.2
mag = 14.0 + 1.2 * np.sin(2 * np.pi * (year - y0) / period)
phase = ((year - y0) / period) % 1.0
dat = Table([year, phase, mag], names=['year', 'phase', 'mag'])

In [99]:
year_bin = np.trunc(year / 0.25)

In [100]:
dat_grouped = dat.group_by(year_bin)
dat_binned = dat_grouped.groups.aggregate(np.mean)

In [101]:
phase_bin = np.trunc(phase / 0.1)
dat_grouped = dat.group_by(phase_bin)
dat_binned = dat_grouped.groups.aggregate(np.mean)

In [102]:
from astropy.table import Table, vstack
obs1 = Table.read("""name    obs_date    mag_b  logLx
                     M31     2012-01-02  17.0   42.5
                     M82     2012-10-29  16.2   43.5
                     M101    2012-10-31  15.1   44.5""", format='ascii')

obs2 = Table.read("""name    obs_date    logLx
                     NGC3516 2011-11-11  42.1
                     M31     1999-01-05  43.1
                     M82     2012-10-30  45.0""", format='ascii')

In [103]:
print(vstack([obs1, obs2]))

  name   obs_date  mag_b logLx
------- ---------- ----- -----
    M31 2012-01-02  17.0  42.5
    M82 2012-10-29  16.2  43.5
   M101 2012-10-31  15.1  44.5
NGC3516 2011-11-11    --  42.1
    M31 1999-01-05    --  43.1
    M82 2012-10-30    --  45.0

In [104]:
print(vstack([obs1, obs2], join_type='inner'))









print(vstack([obs1, obs2], join_type='exact'))

  name   obs_date  logLx
------- ---------- -----
    M31 2012-01-02  42.5
    M82 2012-10-29  43.5
   M101 2012-10-31  44.5
NGC3516 2011-11-11  42.1
    M31 1999-01-05  43.1
    M82 2012-10-30  45.0

TableMergeError: Inconsistent columns in input arrays (use 'inner' or 'outer' join_type to allow non-matching columns)

In [105]:
obs3 = Table.read("""name    obs_date    mag_b  logLx
                     M45     2012-02-03  15.0   40.5""", format='ascii')
print(vstack([obs1, obs2, obs3]))

  name   obs_date  mag_b logLx
------- ---------- ----- -----
    M31 2012-01-02  17.0  42.5
    M82 2012-10-29  16.2  43.5
   M101 2012-10-31  15.1  44.5
NGC3516 2011-11-11    --  42.1
    M31 1999-01-05    --  43.1
    M82 2012-10-30    --  45.0
    M45 2012-02-03  15.0  40.5

In [106]:
from astropy.table import Table
dat = Table([[1, 2], [3, 4]], names=('a', 'b'))
dat.write('table.dat', format='ascii')

In [107]:
Table.write.help()  # Get help writing Table and list supported formats
Table.write.help('fits')  # Get detailed help on Table FITS writer
Table.write.list_formats()  # Print list of available formats

=================================
Table.write general documentation
=================================

Write this Table object out in the specified format.

This function provides the Table interface to the astropy unified I/O
layer.  This allows easily writing a file in many supported data formats
using syntax such as::

  >>> from astropy.table import Table
  >>> dat = Table([[1, 2], [3, 4]], names=('a', 'b'))
  >>> dat.write('table.dat', format='ascii')

Get help on the available writers for ``Table`` using the``help()`` method::

  >>> Table.write.help()  # Get help writing Table and list supported formats
  >>> Table.write.help('fits')  # Get detailed help on Table FITS writer
  >>> Table.write.list_formats()  # Print list of available formats

The ``serialize_method`` argument is explained in the section on
`Table serialization methods
<https://docs.astropy.org/en/latest/io/unified.html#table-serialization-methods>`_.

See also: https://docs.astropy.org/en/stable/io/unified.html

Parameters
----------
*args : tuple, optional
    Positional arguments passed through to data writer. If supplied the
    first argument is the output filename.
format : str
    File format specifier.
serialize_method : str, dict, optional
    Serialization method specifier for columns.
**kwargs : dict, optional
    Keyword arguments passed through to data writer.

Notes
-----

The available built-in formats are:

=========================== ==== ===== ============= ==========
           Format           Read Write Auto-identify Deprecated
=========================== ==== ===== ============= ==========
                      ascii  Yes   Yes            No
               ascii.aastex  Yes   Yes            No
                ascii.basic  Yes   Yes            No
     ascii.commented_header  Yes   Yes            No
                  ascii.csv  Yes   Yes           Yes
                 ascii.ecsv  Yes   Yes           Yes
           ascii.fast_basic  Yes   Yes            No
ascii.fast_commented_header  Yes   Yes            No
             ascii.fast_csv  Yes   Yes            No
       ascii.fast_no_header  Yes   Yes            No
             ascii.fast_rdb  Yes   Yes            No
             ascii.fast_tab  Yes   Yes            No
          ascii.fixed_width  Yes   Yes            No
ascii.fixed_width_no_header  Yes   Yes            No
 ascii.fixed_width_two_line  Yes   Yes            No
                 ascii.html  Yes   Yes           Yes
                 ascii.ipac  Yes   Yes            No
                ascii.latex  Yes   Yes           Yes
                  ascii.mrt  Yes   Yes            No
            ascii.no_header  Yes   Yes            No
                  ascii.qdp  Yes   Yes           Yes
                  ascii.rdb  Yes   Yes           Yes
                  ascii.rst  Yes   Yes            No
                  ascii.tab  Yes   Yes            No
                       asdf  Yes   Yes           Yes
                       fits  Yes   Yes           Yes
                       hdf5  Yes   Yes           Yes
                   jsviewer   No   Yes            No
                 pandas.csv  Yes   Yes            No
                pandas.html  Yes   Yes            No
                pandas.json  Yes   Yes            No
                    parquet  Yes   Yes           Yes
                    votable  Yes   Yes           Yes
                     aastex  Yes   Yes            No        Yes
                        csv  Yes   Yes            No        Yes
                       html  Yes   Yes            No        Yes
                       ipac  Yes   Yes            No        Yes
                      latex  Yes   Yes            No        Yes
                        mrt  Yes   Yes            No        Yes
                        rdb  Yes   Yes            No        Yes
=========================== ==== ===== ============= ==========

Deprecated format names like ``aastex`` will be removed in a future version. Use the full
name (e.g. ``ascii.aastex``) instead.========================================
Table.write(format='fits') documentation
========================================

Write a Table object to a FITS file

Parameters
----------
input : Table
    The table to write out.
output : str
    The filename to write the table to.
overwrite : bool
    Whether to overwrite any existing file without warning.
append : bool
    Whether to append the table to an existing file           Format           Read Write Auto-identify Deprecated
--------------------------- ---- ----- ------------- ----------
                      ascii  Yes   Yes            No
               ascii.aastex  Yes   Yes            No
                ascii.basic  Yes   Yes            No
     ascii.commented_header  Yes   Yes            No
                  ascii.csv  Yes   Yes           Yes
                 ascii.ecsv  Yes   Yes           Yes
           ascii.fast_basic  Yes   Yes            No
ascii.fast_commented_header  Yes   Yes            No
             ascii.fast_csv  Yes   Yes            No
       ascii.fast_no_header  Yes   Yes            No
             ascii.fast_rdb  Yes   Yes            No
             ascii.fast_tab  Yes   Yes            No
          ascii.fixed_width  Yes   Yes            No
ascii.fixed_width_no_header  Yes   Yes            No
 ascii.fixed_width_two_line  Yes   Yes            No
                 ascii.html  Yes   Yes           Yes
                 ascii.ipac  Yes   Yes            No
                ascii.latex  Yes   Yes           Yes
                  ascii.mrt  Yes   Yes            No
            ascii.no_header  Yes   Yes            No
                  ascii.qdp  Yes   Yes           Yes
                  ascii.rdb  Yes   Yes           Yes
                  ascii.rst  Yes   Yes            No
                  ascii.tab  Yes   Yes            No
                       asdf  Yes   Yes           Yes
                       fits  Yes   Yes           Yes
                       hdf5  Yes   Yes           Yes
                   jsviewer   No   Yes            No
                 pandas.csv  Yes   Yes            No
                pandas.html  Yes   Yes            No
                pandas.json  Yes   Yes            No
                    parquet  Yes   Yes           Yes
                    votable  Yes   Yes           Yes
                     aastex  Yes   Yes            No        Yes
                        csv  Yes   Yes            No        Yes
                       html  Yes   Yes            No        Yes
                       ipac  Yes   Yes            No        Yes
                      latex  Yes   Yes            No        Yes
                        mrt  Yes   Yes            No        Yes
                        rdb  Yes   Yes            No        Yes

In [108]:
t = Table([[1, 2], [0.1, 0.2]], names=('a', 'b'))
col_c = Column(name='c', data=['x', 'y'])
t.add_column(col_c)
print(t)

 a   b   c
--- --- ---
  1 0.1   x
  2 0.2   y

In [109]:
t.add_column(['a', 'b'], name='d', index=1)
print(t)

 a   d   b   c
--- --- --- ---
  1   a 0.1   x
  2   b 0.2   y

In [110]:
t = Table([[1, 2], [0.1, 0.2]], names=('a', 'b'))
t.add_column(1.1, name='b', rename_duplicate=True)
print(t)

 a   b  b_1
--- --- ---
  1 0.1 1.1
  2 0.2 1.1

In [111]:
t = Table([[1, 2], [0.1, 0.2]], names=('a', 'b'))
t.add_column(['a', 'b'])
t.add_column(col_c, name='d')
print(t)

 a   b  col2  d
--- --- ---- ---
  1 0.1    a   x
  2 0.2    b   y

In [112]:
t = Table([[1, 2], [0.1, 0.2]], names=('a', 'b'))
col_c = Column(name='c', data=['x', 'y'])
col_d = Column(name='d', data=['u', 'v'])
t.add_columns([col_c, col_d])
print(t)

 a   b   c   d
--- --- --- ---
  1 0.1   x   u
  2 0.2   y   v

In [113]:
t = Table([[1, 2], [0.1, 0.2]], names=('a', 'b'))
t.add_columns([['x', 'y'], ['u', 'v']], names=['c', 'd'],
              indexes=[0, 1])
print(t)

 c   a   d   b
--- --- --- ---
  x   1   u 0.1
  y   2   v 0.2

In [114]:
t = Table([[1, 2], [0.1, 0.2]], names=('a', 'b'))
t.add_columns([[1.1, 1.2], ['x', 'y']], names=('b', 'c'),
              rename_duplicate=True)
print(t)

 a   b  b_1  c
--- --- --- ---
  1 0.1 1.1   x
  2 0.2 1.2   y

In [115]:
t = Table()
col_b = Column(name='b', data=['u', 'v'])
t.add_columns([[1, 2], col_b])
t.add_columns([[3, 4], col_b], names=['c', 'd'])
print(t)

col0  b   c   d
---- --- --- ---
   1   u   3   u
   2   v   4   v

In [116]:
import numpy as np
import pandas as pd
from astropy.table import QTable

In [117]:
time = pd.Series(['1998-01-01', '2002-01-01'], dtype='datetime64[ns]')
dt = pd.Series(np.array([1, 300], dtype='timedelta64[s]'))
df = pd.DataFrame({'time': time})
df['dt'] = dt
df['x'] = [3., 4.]
with pd.option_context('display.max_columns', 20):
    print(df)

        time              dt    x
0 1998-01-01 0 days 00:00:01  3.0
1 2002-01-01 0 days 00:05:00  4.0

In [118]:
QTable.from_pandas(df)

<QTable length=2>
          time              dt       x
          Time          TimeDelta float64
----------------------- --------- -------
1998-01-01T00:00:00.000       1.0     3.0
2002-01-01T00:00:00.000     300.0     4.0

In [119]:
t = Table([[1, 2, 3], [0.1, 0.2, 0.3], ['x', 'y', 'z']],
          names=('a', 'b', 'c'))
print(t)

 a   b   c
--- --- ---
  1 0.1   x
  2 0.2   y
  3 0.3   z

In [120]:
t.index_column('b')

1

In [121]:
t = Table([[1], [2]])
for col in t.itercols():
    print(col)

col0
----
   1
col1
----
   2

In [122]:
t = Table({'a': [1, 2, 3],
           'b': [1.0, 2.5, 3.0],
           'c': ['x', 'y', 'z']})

In [123]:
t = Table([[1, 2, 3],[0.1, 0.2, 0.3],['x', 'y', 'z']],
          names=('a', 'b', 'c'))
print(t)

 a   b   c
--- --- ---
  1 0.1   x
  2 0.2   y
  3 0.3   z

In [124]:
t.keep_columns('a')
print(t)

 a
---
  1
  2
  3

In [125]:
t = Table([[1, 2, 3],[0.1, 0.2, 0.3],['x', 'y', 'z']],
          names=('a', 'b', 'c'))
t.keep_columns(['a', 'c'])
print(t)

 a   c
--- ---
  1   x
  2   y
  3   z

In [126]:
t = Table([[1, 4, 5], [-25.55, 12.123, 85],
    ['a', 'b', 'c']], names=('a', 'b', 'c'))
print(t)

 a    b     c
--- ------ ---
  1 -25.55   a
  4 12.123   b
  5   85.0   c

In [127]:
t.round(0)
print(t)

 a    b    c
--- ----- ---
  1 -26.0   a
  4  12.0   b
  5  85.0   c

In [128]:
t.round({'a':-1})
print(t)

 a    b    c
--- ----- ---
  0 -26.0   a
  0  12.0   b
  0  85.0   c

In [129]:
t = Table([['Max', 'Jo', 'John'], ['Miller', 'Miller', 'Jackson'],
           [12, 15, 18]], names=('firstname', 'name', 'tel'))
print(t)

firstname   name  tel
--------- ------- ---
      Max  Miller  12
       Jo  Miller  15
     John Jackson  18

In [130]:
t.sort(['name', 'firstname'])
print(t)

firstname   name  tel
--------- ------- ---
     John Jackson  18
       Jo  Miller  15
      Max  Miller  12

In [131]:
t.sort(['firstname', 'tel'], reverse=True)
print(t)

firstname   name  tel
--------- ------- ---
      Max  Miller  12
     John Jackson  18
       Jo  Miller  15

In [133]:
import pandas as pd

In [134]:
df = pd.DataFrame({'a': [10,20,30],
                   'b': [40,50,60]})

In [135]:
df

    a   b
0  10  40
1  20  50
2  30  60

In [136]:
df.columns

Index(['a', 'b'], dtype='object')

In [137]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [139]:
#hit shift + tab tab in the cell below to read more about dataframe objects and operations

In [140]:
pd.r

AttributeError: module 'pandas' has no attribute 'r'

In [145]:
## code to read in source data here

In [146]:
## code to convert to pandas dataframes here

In [147]:
## code to print list of column names

In [148]:
#code to remove column here

In [149]:
# code to rename column here

In [150]:
# code to create histogram

In [151]:
# code to mask table and create new histogram

In [152]:
# code to join tables

In [153]:
# code to investigate lengths

In [155]:
group_by(name)

NameError: name 'group_by' is not defined

In [158]:
t

<Table length=3>
firstname   name   tel
   str4     str7  int64
--------- ------- -----
      Max  Miller    12
     John Jackson    18
       Jo  Miller    15

In [159]:
t2 = Table()
t2['name'] = ['larry', 'moe', 'groucho']
t2['flux2'] = [1.4, 3.5, 8.6]

In [160]:
t3 = join(t, t2, keys=['name'], join_type='outer')
print(t3)

NameError: name 'join' is not defined